<!-- This example requires Tailwind CSS v2.0+ -->
<div>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Connect With Us!</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <a href="https://www.facebook.com/groups/PittMUN/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-blue-400 bg-white hover:bg-indigo-50">
            Facebook
          </a>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <a href="https://www.instagram.com/pittmunofficial/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-blue-400 bg-white hover:bg-indigo-50">
            Instagram
          </a>
        </div>
      </div>
    </div>
  </div>

<div>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Email:</span>
        <span class="block text-blue-400 text-3xl">pittmodelun@gmail.com</span>
        <br><br>
        <span class="block">PittMUN Graduate Student Advisor:</span>
        <span class="block text-blue-400 text-3xl">Evelyn Avedisian</span>
        <span class="block text-blue-400 text-2xl">ema80@pitt.edu</span>
      </h2>
    </div>
  </div>
  
  
  
  
