<ul>
    <li>
      <img src="/assets/gallery_pics/1.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/2.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/3.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/4.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/5.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/6.jpeg" loading="lazy">
    </li>
    <li>
      <img src= "/assets/gallery_pics/7.jpeg" loading="lazy">
    </li>
    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
  </ul>