<div> 
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          General Conference Info
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <div class="font-semibold text-center"> 
            Thank you to everyone who attended the 2020 PittMUN High School Conference! We would love to see you again this year!
          </div>
        </div>
      </div>
    </main>
  </div>

<div> 
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
        Registration Information
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
        <div class="font-semibold text-center"> 
            Registration for the 2020 PittMUN is now closed.
        </div>
      </div>
    </div>
  </main>
</div>

<div> 
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          Position Papers
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <div class="font-semibold text-center"> 
            A well-crafted position paper can serve as an excellent preparatory tool for Model U.N. participants. It helps guide preparation and research among members of a delegation. The position paper will outline your country's policies regarding topics that will be discussed in your Committee.
            <br><br>
            Please note that PittMUN's policy regarding position papers has changed from previous years. Position papers are no longer required from all delegates. Position papers will be optional, but if submitted will be considered for an award. The top three position papers will be recognized at closing ceremonies with the top paper receiving the Clarke Thomas Memorial Award.
            <br><br>
            In order to be considered for an award, position papers must be emailed to ucisengage@pitt.edu before the Opening Cermonies, the day of the conference. A confirmation email will be sent upon receipt of the position paper. Delegates should not assume that the paper has been received until the sender receives this confirmation. In order to be considered position papers must adhere to all of the requirements laid out in the 2020 PittMUN Manual.
            <br><br>

          </div>
        </div>
      </div>
    </main>
  </div>

  <div> 
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          Dress Code
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
          <div class="font-semibold text-center"> 
            We are requiring that all delegates dress in a manner befitting international diplomats. The rule of thumb for professional attire at Pitt's Model United Nations is Western business attire. Because of a few problems last year, we will reiterate: no denim (including skirts), no spaghetti straps (shoulders and upper arms must be covered), skirts must be knee length, no athletic shoes, and the young men must wear shirts and ties. Teachers may copy this dress code and send it home to parents.

          </div>
        </div>
      </div>
    </main>
  </div>
