<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Model United Nations at the University of Pittsburgh
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Welcome to the offical website for the PittMUN team! Model United Nations provides students the opportunity to learn about and discuss today's most relevant issues of international diplomacy through participation in an academic simulation. Pitt Model United Nations is a long-standing club at the University of Pittsburgh. The club prepares and competes in Model United Nations conferences throughout the year.  
        </p>
      </div>
  
      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div class="flex">
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Highschool Conference
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Registration for this year's high school Model UN conference occurs annually in the fall. We hope to see you soon!
              </dd>
            </div>
          </div>
  
          <div class="flex">
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Weekly Meetings
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                PittMUN holds weekly meetings on Monday's at 9:00pm. Meeting are held in Posvar in room 4130. *During the COVID-19 Pandemic meetings are held on zoom.
              </dd>
            </div>
          </div>
  
          <div class="flex">
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Socials
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                  We hold bi-weekly socials for members. Past socials include game night, movie night, bowling, and casual hangouts.
              </dd>
            </div>
          </div>
  
          <div class="flex">
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                Social Media
              </dt>
              <dd class="mt-2 text-base text-gray-500">
                Visit the Contact Us page to connect with us on Instagram, Facebook, and email.
              </dd>
            </div>
          </div>
        </dl>
      </div>
      <iframe class= "calender" src="https://calendar.google.com/calendar/embed?src=pittmodelun%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  
  
