<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Major
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Hometown
                </th>
              </tr>
            </thead>
            <!-- EDIT HERE TO CHANGE MEMBERS LIST -->
            <tbody class="bg-white divide-y divide-gray-200">
            <!-- PRESIDENT -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Laura Endres
                      </div>
                      <div class="text-sm text-gray-500">
                        Senior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>President:</b></div>
                  <div class="text-sm text-gray-500">The president is the presiding officer at all meetings. <br> The president is responsible for creating an agenda for the general club <br> meeting as well as the Executive Board meetings.  Additionally, <br> the president is responsible for representing the club in relation to the  <br>University of Pittsburgh as a whole. The president may hold no other offices in the club.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Anthropology
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  San Antonio, Texas
                </td>
              </tr>
  
              <!-- HEAD DELAGATE -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Jacob Uccellini
                      </div>
                      <div class="text-sm text-gray-500">
                        Senior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>Head Delegate:</b></div>
                  <div class="text-sm text-gray-500">The Head Delegate is in charge of training all members. <br>The Head Delegate also plans and runs our in-house training conferences. In addition <br>to registering for conferences, the Head Delegate represents the team <br>at the Head Delegate meetings while at conferences. The goal of <br>the Head Delegate is to provide the necessary <br>support for the team to be successful at conferences.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Political Science
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Pittsburgh, Pennsylvania
                </td>
              </tr>

              <!-- DIRECTOR OF FINANCE -->
              <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Ben King
                        </div>
                        <div class="text-sm text-gray-500">
                          Senior
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"><b>Director of Finance:</b></div>
                    <div class="text-sm text-gray-500">The Director of Finance is responsible for preparing the annual budget <br>and supplemental budget requests. Additionally, the Director of Finance <br>is responsible for processing all club business involving budget items, <br>such as business travel advances and disbursements. The Director of Finance <br>is responsible for attending appropriate budget hearings <br>related to club finances.</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    Political Science and Communications 
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    Pittsburgh, Pennsylvania
                  </td>
              </tr>

              <!-- SECRETARY GENERAL -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Madison Stanely
                      </div>
                      <div class="text-sm text-gray-500">
                        Junior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>Secretary General:</b></div>
                  <div class="text-sm text-gray-500">The Secretary General of the high school conference is responsible for <br> working with the University Center for International Studies (UCIS) <br> in planning for and executing the University of Pittsburgh High School <br> Model United Nations Conference. The Secretary General may choose Under <br> Secretaries, but these individuals are not club officers.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Political Science
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  North Huntingdon, Pennsylvania
                </td>
              </tr>

              <!-- EXTERNAL AFFAIRS -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Neel Trivedi
                      </div>
                      <div class="text-sm text-gray-500">
                        Senior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>Director of External Affairs:</b></div>
                  <div class="text-sm text-gray-500">The Director of External Affairs is responsible for planning the recruitment <br> of new members. In addition, the Director of External Affairs <br> communicates with the Model UN teams of nearby schools to <br>coordinate events. The Director of External Affairs is <br>also in charge of communicating with organizations within and <br>the University of Pittsburgh and the outside community.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Computer Science
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Mechanicsburg, Pennsylvania
                </td>
              </tr>

              <!-- INTERNAL AFFAIRS -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Sam Vogulhut
                      </div>
                      <div class="text-sm text-gray-500">
                        Senior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>Director of Internal Affairs:</b></div>
                  <div class="text-sm text-gray-500">The Director of Internal Affairs is responsible for planning <br> any club social events that occur throughou the year. The goal <br>of the Director of Internal Affairs is to ensure that the club's <br>members have adaquate opportunities to build team bonding <br>and to ensure that everyone is having fun.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Sociology and Urban Studies
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 Bel Air, Maryland
                </td>
              </tr>

              <!-- SECRETARY -->
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Ashley Van Slyke
                      </div>
                      <div class="text-sm text-gray-500">
                        Senior
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900"><b>Secretary:</b></div>
                  <div class="text-sm text-gray-500">The Secretary is responsible for sending out weekly e-mails, and <br> updating the club's social media sites about the past <br>and future events to the club members. The secretary is <br>also in charge of managing this fabulous website. Additionally, <br>the secretary is in charge of the club's annual t-shirt sales.</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Nursing
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 Manlius, New York
                </td>
              </tr>
            </tbody>
          </table>

        <!-- FORMER MEMBERS: ADD FORMER MEMBERS HERE -->
        <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h2 class="text-lg leading-6 font-medium text-gray-900">
        Former Members
      </h2>
    </div>

    <div class="border-t border-gray-200">
    <!-- ADD A NEW YEAR RIGHT HERE -->
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            2019-2020
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul>
                <li>President: Ethan McPeak</li>
                <li>Head Delegate: Laura Endres</li>
                <li>Director of Finance: Ben King</li>
                <li>Secretary General: Mitchell Luckman</li>
                <li>Director of External Affairs: Neel Trivedi</li>
                <li>Director of Internal Affairs: Sam Vogelhut</li>
                <li>Secretary: Dana Kaufhold</li>
                <li>Advisor: Evelyn Avedisian</li>
            </ul>
          </dd>
        </div>
      </dl>

      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            2018-2019
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul>
                <li>President: J.P. Leskovich</li>
                <li>Head Delegate: Rj Sabanas</li>
                <li>Director of Finance: Erin Brin D'Amour</li>
                <li>Secretaries General: Sam Varely and Ashley Van Slyke</li>
                <li>Director of External Affairs: Ethan McPeak</li>
                <li>Director of Internal Affairs: Ami Trivedi</li>
                <li>Secretary: Thyra Altunin</li>
                <li>Advisor: David Smith</li>
            </ul>
          </dd>
        </div>
      </dl>

      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            2017-2018
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul>
                <li>President: J.P. Leskovich</li>
                <li>Head Delegate: Rj Sabanas</li>
                <li>Director of Finance: Erin Brin D'Amour</li>
                <li>Secretary General: Ben Williams-Morill</li>
                <li>Director of External Affairs: Mitchell Luckman</li>
                <li>Director of Internal Affairs: Ami Trivedi</li>
                <li>Secretary: Raven Hilfiker</li>
                <li>Advisor: Laura Amster</li>
            </ul>
          </dd>
        </div>
      </dl>
      

      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            2016-2017
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul>
                <li>President: Josie Del Rio</li>
                <li>Head Delegate: Tyler Duddy</li>
                <li>Director of Finance: Rebecca Kerman</li>
                <li>Secretary General: Sam Varely</li>
                <li>Director of External Affairs: Jon McMullin</li>
                <li>Director of Internal Affairs: Dennis Baldwin</li>
                <li>Secretary: J.P. Leskovich</li>
                <li>Advisor: Laura Amster</li>
            </ul>
          </dd>
        </div>
      </dl>
      
      
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            2015-2016
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul>
                <li>President: Laura Cherner</li>
                <li>Head Delegate: Tyler Duddy</li>
                <li>Director of Finance: Priya Chandrasekaran</li>
                <li>Secretaries General: Eric Vance and Jon McMullin</li>
                <li>Directors of External Affairs: Jon McMullin (1st sem) - Bill Donner (2nd sem)</li>
                <li>Director of Internal Affairs: Josie Del Rio</li>
                <li>Secretary: Amanda Smoluk (1st sem) - Angie Suarez (2nd sem)</li>
                <li>Advisor: Evan Nilsen</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  
  
        </div>
      </div>
    </div>
  </div>
  
  
